/* Sidebar */

.sidebar {
    background-color: #263238;
    width: 200px;
    height: 100%;
    display: inline-block;
    position: fixed;
}

.profile {
    display: block;
    width: 100%;
}

.profile-picture {
    width: 60%;
    margin: 10% 20% 5% 20%;
    border-radius: 50%;
}

.user-details {
    text-align: center;
    color: #fff;
}

.username-rank {
    font-weight: 100;
    font-size: .8em;
}

.navlink {
    color: #fff;
    align-items: center;
    display: flex;
}

.navlink-active {
    background-color: transparent;
    display: inline-block;
    height: 2em;
    width: 5px;
    margin-right: 5px;
}

.navlink-active.active {
    background-color: #fff;
}

.navlink-text {
    color: #fff;
    text-decoration: none;
    margin-left: .5em;
}

/* Header */

.header {
    display: flex;
    height: 70px;
    background-color: #37474F;
    align-items: center;
    color: #fff;
    position: fixed;
    width: calc(100% - 200px)
}

.logo {
    padding: 0 2em;
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
}

.right-section {
    margin: 0 .5em 0 auto;
}

.header-icon {
    margin: 0.5em;
}