// 
// App Layout
// 

.app-layout {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.main {
    grid-area: main;
}
