//
// Variables
//

// Colours
// Using Googles Material Design Pallatte
//

// Red
$colour-red-050: #ffebee;
$colour-red-100: #ffcdd2;
$colour-red-200: #ef9a9a;
$colour-red-300: #e57373;
$colour-red-400: #ef5350;
$colour-red-500: #f44336;
$colour-red-600: #e53935;
$colour-red-700: #d32f2f;
$colour-red-800: #c62828;
$colour-red-900: #b71c1c;

// Gray
$colour-gray-050: #FAFAFA;
$colour-gray-100: #F5F5F5;
$colour-gray-200: #EEEEEE;
$colour-gray-300: #E0E0E0;
$colour-gray-400: #BDBDBD;
$colour-gray-500: #9E9E9E;
$colour-gray-600: #757575;
$colour-gray-700: #616161;
$colour-gray-800: #424242;
$colour-gray-900: #212121;

// Blue Gray
$colour-bluegray-050: #ECEFF1;
$colour-bluegray-100: #CFD8DC;
$colour-bluegray-200: #B0BEC5;
$colour-bluegray-300: #90A4AE;
$colour-bluegray-400: #78909C;
$colour-bluegray-500: #607D8B;
$colour-bluegray-600: #546E7A;
$colour-bluegray-700: #455A64;
$colour-bluegray-800: #37474F;
$colour-bluegray-900: #263238;