// 
// Layout Styles
// 

.main {
    display: flex;
    flex-direction: column;
    background-color: #455A64;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100%;
    padding: $body-padding 0 0 $body-padding;
    margin-top: 70px;
    overflow-x: hidden;
}
