// 
// Reset Styles
// 

// Fonts

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

// Main Containers

html,
body,
#react-target {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: flex;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: calc(100% - 200px);
    margin: 0 0 0 200px;
}

// Text

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    color: $default-text-colour;
}