// 
// tv Components
// 

.programlist {
    margin: 0 0 0 $default-margin;
    display: flex;
    overflow-x: scroll;
    max-width: 100%;

    &::-webkit-scrollbar {
        height: 0;
    }
}

.programlist-header {
    display: flex;
    align-items: center;
    width: 100%;

    .programlist-controls {
        display: flex;
        margin: $default-margin ($body-padding + $default-margin) $default-margin auto;
        color: $default-text-colour;

        svg {
            cursor: pointer;
        }
    }
}

.program {
    display: inline-block;
    margin-right: $default-margin * 4;
    text-align: left;
    color: $default-text-colour;

    .program-cover {
        display: block;
        width: 128px;
        height: 200px;
        background-image: url("/images/tv-cover.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $default-border-radius;
    }

    .program-details {
        margin: .2em 0;
        
        .program-name {
            font-size: 1.1em;
            font-weight: normal;
            word-break: break-all;
        }
    }    
}
