// 
// Buttons
// 

.button {
    display: inline-block;
    font-family: $default-font-family;
    font-weight: $default-font-weight;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    border: $button-border-width solid transparent;
    border-radius: $default-border-radius;
    margin: $default-margin;
    cursor: pointer;
    
    &:disabled {
        opacity: 0.5;
    }
    
    &.button-small {
        padding: $button-padding-y $button-padding-x;
        font-size: 1em;
    }

    &.button-medium {
        padding: $button-padding-y * 1.2 $button-padding-x * 1.2;
        font-size: 1.2em;
    }

    &.button-large {
        padding: $button-padding-y * 1.4 $button-padding-x * 1.4;
        font-size: 1.4em;
    }

    &.button-block {
        display: block;
        margin: $default-margin auto;
        width: $block-width;
    }

    &.button-primary {
        color: #fff;
        background-color: $colour-primary;
        border-color: $colour-primary;

        &:hover {
            color: #fff;
            background-color: $colour-primary-darker;
            border-color: $colour-primary-darker;
        }
    }

    &.button-success {
        color: #fff;
        background-color: $colour-success;
        border-color: $colour-success;

        &:hover {
            color: #fff;
            background-color: $colour-success-darker;
            border-color: $colour-success-darker;
        }
    }

    &.button-warning {
        color: #fff;
        background-color: $colour-warning;
        border-color: $colour-warning;

        &:hover {
            color: #fff;
            background-color: $colour-warning-darker;
            border-color: $colour-warning-darker;
        }
    }

    &.button-danger {
        color: #fff;
        background-color: $colour-danger;
        border-color: $colour-danger;

        &:hover {
            color: #fff;
            background-color: $colour-danger-darker;
            border-color: $colour-danger-darker;
        }
    }
}
